{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href= "{% static 'Home/main.css' %}">

    <!-- Code for Navigation Bar-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
    </button>

    <!--Links-->
    <a class="navbar-brand" href="{% url 'Homepage' %}">
                <img src="https://scontent.fybz2-2.fna.fbcdn.net/v/t1.0-9/29063303_919284848240948_5094910057301147648_n.jpg?_nc_cat=102&_nc_ht=scontent.fybz2-2.fna&oh=0479e65d3e1841591fe3d5497f8dde6a&oe=5D68B571" alt="Nishino Nanase" style="width:40px;">
    </a>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'events' %}">Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'animelist' %}">Anime List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
        </li>
    </ul>

    {% if user.is_authenticated %}
    <ul class="navbar-nav">
        {% if user.is_staff %}
                 <li class="nav-item">
            <a class="nav-link" href="{% url 'post-create' %}">New Post</a>
                </li>
        {% endif %}
                <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
    </ul>
    {% else %}
    <ul class="navbar-nav">
                <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
    </ul>
    {% endif %}
    </div>
</div>
    </nav>
    <title>Queen's Anime Club</title>
    <link rel="icon" type="image/jpg" href="https://scontent.fybz2-2.fna.fbcdn.net/v/t1.0-9/29063303_919284848240948_5094910057301147648_n.jpg?_nc_cat=102&_nc_ht=scontent.fybz2-2.fna&oh=0479e65d3e1841591fe3d5497f8dde6a&oe=5D68B571">
</head>
<body>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tag }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
<main role="main" class="container">
{% block content%}
{% endblock content%}
</main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
