{% extends 'Home/base.html' %}
{% block title%}
{% endblock title%}
{% block content %}
{% load static %}

<div class="welcome-banner col-md-12 p-3 my-5">
  <div class="textbox col-md-5 p-3 my-5">
    <h1 style="font-size: 3rem;">WELCOME TO QAC<hr></h1>
    <p class="lead font-weight-normal">We are the Queen's Anime Club, dedicated to anime, watching anime, laughing at anime, drawing anime, and generally having fun. New members are always welcome!</p>
  </div>
  <div class="image-container">
    <img src="{% static "Home/welcome.png" %}" alt="welcome">
  </div>
</div>

<h2> UPCOMING EVENTS </h2>
    {% for post in posts %}
    <article class="media content-section col-md-4">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2"> {{post.author}} </a>
                <small class="text-muted">{{post.date_posted|date:"F d, Y"}}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}"> {{post.title}}</a> </h2>
            <p class="article-content"> {{post.content}} </p>
         </div>
    </article>
    {% endfor %}

{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

{% endif %}

{% endblock content %}

<!--
<div class="content-section">
<img class="rounded-circle account-img" src="https://scontent.fybz2-1.fna.fbcdn.net/v/t1.0-9/40998513_1057707094398722_7784290476361777152_n.png?_nc_cat=109&_nc_ht=scontent.fybz2-1.fna&oh=055261b734edc19f29f4daba849e1a80&oe=5CD69915" style="display:block; margin:auto">
<br>
<div class="profile-text">
<p>Hey there! We're the Queen's Anime Club located in Kingston, Ontario. We watch anime bi-weekly (every two weeks) on Fridays so make sure to visit us in
    <a href="https://www.google.com/maps/place/Dupuis+Hall/@44.2285683,-76.4949496,17z/data=!3m1!4b1!4m5!3m4!1s0x4cd2ab03ef4e05b1:0x74cd479154780d16!8m2!3d44.2285683!4d-76.4927556">Dupuis 215!</a></p>
</div>
</div>
<div class="content-section">
  <h4 class="calendar-title"> Current Executives </h4>

  <div class="exec-names">
  <p text align="center">President: <a href="https://www.facebook.com/jamdan.huntaij">Mohan Yao</a></p>
  </div>

  <div class="exec-names">
  <p text align="center">Vice President: <a href="https://www.facebook.com/Dominic9201">Dominic Philips</a></p>
  </div>

  <div class="exec-names">
  <p text align="center">Treasurer: <a href="https://www.facebook.com/profile.php?id=100008584475260">Emi Kageyama</a></p>
  </div>

  <div class="exec-names">
  <p text align="center">Activities Coordinator: <a href="https://www.facebook.com/profile.php?id=100011264621402">Iain Um</a></p>
  </div>
</div>
-->
